* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    border: 1px dotted black;
    height: 100vh;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: palegoldenrod;
}

